<script>
import { GlLink } from '@gitlab/ui';
export default {
  components: {
    GlLink,
  },
  props: {
    issue: {
      type: Object,
      required: true,
    },
    selected: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    isClosed() {
      return this.issue.state === 'closed';
    },
    referencePath() {
      return `${this.issue.projectPath}${this.issue.reference}`;
    },
  },
};
</script>
<template>
  <li
    :id="`issue_${issue.iid}`"
    class="px-3 py-2 gl-hover-bg-blue-50 gl-border-gray-100 gl-border-b-1 gl-font-base gl-cursor-pointer gl-list-style-none"
    :class="{ 'gl-bg-blue-50': selected }"
    @click="$emit('click', $event)"
  >
    <div class="d-flex">
      <div class="flex-grow-1">
        <div>
          <span>
            <gl-link class="text-dark font-weight-bold mb-1" target="_blank" :href="issue.webUrl">{{
              issue.title
            }}</gl-link>
          </span>
        </div>

        <div class="font-weight-normal text-black-50">
          <span class="issue-reference-path">{{ referencePath }}</span>
        </div>
      </div>

      <div>
        <span v-if="isClosed">CLOSED</span>
      </div>
    </div>
  </li>
</template>
