<script>
import { GlSkeletonLoading } from '@gitlab/ui';
import FigmaInput from '../components/figma_plugin_ds/input';
import FigmaFormFeedback from '../components/figma_plugin_ds/form_feedback';
import Issue from './issue';
import getIssueQuery from '../graphql/queries/get_issue.query.graphql';
import { parseIssueUrl } from '../utils/gitlab_utils';
import debounce from 'lodash/debounce';

export default {
  components: {
    GlSkeletonLoading,
    Issue,
    FigmaInput,
    FigmaFormFeedback,
  },
  data() {
    return {
      searchInputValue: '',
      issues: [],
      selectedIssue: undefined,
      validIssueUrl: true,
      isLoadingIssues: false,
    };
  },
  watch: {
    searchInputValue() {
      this.validIssueUrl = true;
      // if we get a valid URL, immediately execute a search
      if (this.isValidIssueUrl(this.searchInputValue)) {
        this.search();
      }
    },
  },
  mounted() {
    this.search = debounce(() => this.onSearch(), 300);
  },
  methods: {
    onIssueSelect(issue) {
      this.selectedIssue = issue;
      this.$emit('select', issue);
    },
    isValidIssueUrl(urlCandidate) {
      const { projectPath, issueId } = parseIssueUrl(urlCandidate);

      return Boolean(projectPath && issueId);
    },
    onSearch() {
      if (!this.isValidIssueUrl(this.searchInputValue)) {
        this.validIssueUrl = false;
        return;
      }

      const { projectPath, issueId } = parseIssueUrl(this.searchInputValue);

      this.fetchIssue({ fullPath: projectPath, iid: issueId })
        .then(res => {
          if (!res) {
            throw new Error();
          }
          const issue = { ...res, projectPath };
          this.issues = [issue];

          this.onIssueSelect(issue);
        })
        .catch(() => {
          this.validIssueUrl = false;
        });
    },
    fetchIssue({ fullPath, iid }) {
      this.issues = [];
      this.isLoadingIssues = true;
      return this.$apollo
        .query({
          query: getIssueQuery,
          variables: {
            fullPath,
            iid,
          },
        })
        .then(res => {
          const { project } = res.data;
          if (!project) return;

          const { issue } = project;
          return issue;
        })
        .finally(() => {
          this.isLoadingIssues = false;
        });
    },
  },
};
</script>

<template>
  <div>
    <div class="mb-xsmall">
      <figma-input
        id="issue_url_input"
        v-model="searchInputValue"
        type="text"
        title="GitLab Issue URL"
        placeholder="https://gitlab.com/gitlab-org/gitlab-figma-plugin/-/issues/1"
        required
        icon="search"
        :state="validIssueUrl"
      ></figma-input>
      <figma-form-feedback v-show="!validIssueUrl" variant="invalid"
        >Enter a valid issue URL
      </figma-form-feedback>
    </div>

    <ul v-show="issues.length > 0 || isLoadingIssues" class="p-0 mx-0 mt-0 mb-3">
      <div v-show="isLoadingIssues" class="px-3 py-2">
        <gl-skeleton-loading />
      </div>

      <issue
        v-for="issue in issues"
        v-show="!isLoadingIssues"
        :key="issue.iid"
        :issue="issue"
        :selected="issue.iid === (selectedIssue || {}).iid"
      ></issue>
    </ul>
  </div>
</template>
