<template>
  <div class="d-flex">
    <span
      class="d-flex align-items-center justify-content-center mr-3"
      :class="{ 'text-black-50': frameCount === 0 }"
    >
      <FrameIcon class="gl-icon mr-1" />
      <span>{{ frameCount }}</span>
    </span>
    <span
      class="d-flex align-items-center justify-content-center"
      :class="{ 'text-black-50': componentCount === 0 }"
    >
      <ComponentIcon class="gl-icon mr-1" />
      <span>{{ componentCount }}</span>
    </span>
  </div>
</template>

<script>
import FrameIcon from './../assets/icons/frame.svg';
import ComponentIcon from './../assets/icons/component.svg';

export default {
  name: 'SelectionCounter',
  components: {
    FrameIcon,
    ComponentIcon,
  },
  props: {
    frameCount: {
      type: Number,
      required: false,
      default: 0,
    },
    componentCount: {
      type: Number,
      required: false,
      default: 0,
    },
  },
};
</script>
