<script>
import FigmaInput from '../components/figma_plugin_ds/input';
import FigmaButton from '../components/figma_plugin_ds/button';
import EmptyIssueIllustration from '../assets/illustrations/issues.svg';
import setAccessTokenMutation from '../graphql/mutations/set_access_token.mutation.graphql';
import accessTokenQuery from '../graphql/queries/access_token.query.graphql';
import windowEmitter from '../shared/window_message_event_bus';
import { FIGMA_MESSAGE_TYPES } from '../../shared/constants';

export default {
  name: 'Login',
  components: {
    FigmaInput,
    FigmaButton,
    EmptyIssueIllustration,
  },
  data() {
    return {
      accessToken: '',
      isLoading: true,
    };
  },
  apollo: {
    accessToken: {
      query: accessTokenQuery,
      result({ data }) {
        if (data.accessToken) {
          this.$router.push({ name: 'UploadSelection' });
        }
      },
    },
  },
  mounted() {
    windowEmitter.on(FIGMA_MESSAGE_TYPES.SET_ACCESS_TOKEN, data => {
      const { accessToken } = data;

      this.$apollo
        .mutate({
          mutation: setAccessTokenMutation,
          variables: {
            accessToken,
          },
        })
        .finally(() => {
          this.isLoading = false;
        });
    });
  },
  methods: {
    onLogin() {
      this.$apollo.mutate({
        mutation: setAccessTokenMutation,
        variables: {
          accessToken: this.accessToken,
        },
      });
    },
  },
};
</script>

<template>
  <div v-if="!isLoading" class="h-100 position-relative">
    <div class="w-100 p-medium m-auto">
      <empty-issue-illustration></empty-issue-illustration>
    </div>

    <p class="text-xsmall">You are one step away from contributing to your designs.</p>
    <p class="text-xsmall">Authenticate with GitLab using a GitLab personal access token.</p>
    <form @submit.prevent="onLogin">
      <figma-input
        id="access_token_input"
        v-model="accessToken"
        placeholder="GitLab access token"
        type="password"
        required
      ></figma-input>

      <div
        class="d-flex justify-content-between align-items-center position-absolute bottom-0 pt-3 w-100 border-top-grey"
      >
        <a
          href="https://gitlab.com/gitlab-org/gitlab-figma-plugin/-/wikis/home#generating-a-gitlab-personal-access-token"
          class="text-xsmall"
          target="_blank"
          >Where to find my token?
        </a>
        <figma-button type="submit">Save token</figma-button>
      </div>
    </form>
  </div>
</template>
