<script>
/**
 * https://github.com/thomas-lowry/figma-plugin-ds#button
 */
const MODIFIERS = {
  primary: 'button--primary',
  secondary: 'button--secondary',
  tertiary: 'button--tertiary',
};

const DEFAULT_VARIANT = 'primary';

export default {
  inheritAttrs: true,
  props: {
    variant: {
      type: String,
      required: false,
      default: DEFAULT_VARIANT,
    },
    loading: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    modifierClass() {
      return MODIFIERS[this.variant];
    },
  },
};
</script>
<template>
  <button class="button" :class="modifierClass" @click="$emit('click', $event)">
    <slot></slot>
    <div v-if="loading" class="icon icon--spinner icon--spin icon--white ml-1"></div>
  </button>
</template>
<style lang="sass">
// hack to ensure spinner is centered
.icon--spinner.icon--spin {
  background-position: 0px -2px;
  height: 28px;
}
.button:focus {
  outline: none;
}
</style>
