<script>
const MODIFIERS = {
  invalid: 'form__feedback--invalid',
};

const DEFAULT_VARIANT = 'invalid';

export default {
  inheritAttrs: true,
  props: {
    variant: {
      type: String,
      required: false,
      default: DEFAULT_VARIANT,
    },
  },
  computed: {
    modifierClass() {
      return MODIFIERS[this.variant];
    },
  },
};
</script>

<template>
  <div class="form__feedback text-small" :class="modifierClass">
    <slot> </slot>
  </div>
</template>
<style lang="sass">
.form__feedback {
  &--invalid {
    color: var(--red);
  }
}
</style>
