<script>
export default {
  inheritAttrs: false,
  props: {
    value: {
      type: String,
      required: false,
      default: '',
    },
    state: {
      type: Boolean,
      required: false,
      default: true,
    },
    icon: {
      type: String,
      required: false,
      default: null,
    },
  },
  computed: {
    iconClass() {
      return `icon--${this.icon}`;
    },
  },
};
</script>
<template>
  <div
    class="input"
    :class="{
      'input--invalid': !state,
      'input--with-icon': icon,
    }"
  >
    <div v-if="icon" class="icon" :class="iconClass"></div>
    <input
      class="input__field"
      v-bind="$attrs"
      :value="value"
      @input="$emit('input', $event.target.value)"
    />
  </div>
</template>
<style lang="sass">
.input {
  .input__field {
    border: 1px solid var(--black1);
  }

  &.input--invalid {
    .input__field {
      border-color: var(--red);

      &:hover,
      &:placeholder-shown:hover {
        border-color: var(--red);
      }
    }
  }
}
</style>
