/* PLUGIN-SPECIFIC UTILITIES */
.bottom-0 {
  bottom: 0;
}
.border-top-grey {
  border-top: 1px solid var(--grey);
}
.cursor-pointer {
  cursor: pointer;
}

/* FIGMA UTILITIES */
// TODO eventually contribute these back to figma-plugin-ds
.text-xsmall {
  font-size: var(--font-size-xsmall);
  line-height: var(--font-line-height);
}
.text-small {
  font-size: var(--font-size-small);
  line-height: var(--font-line-height);
}
.text-large {
  font-size: var(--font-size-large);
  line-height: var(--font-line-height-large);
}
.text-xlarge {
  font-size: var(--font-size-xlarge);
  line-height: var(--font-line-height-large);
}
